<!-- Top header -->
<div class="contact-box">
    <div class="first">+212 333 555 111</div>
    <div class="second">contact@store.com</div>
    <div class="third">3-5 BUSINESS DAYS DELIVERY & FREE RETURNS</div>
</div>

<!-- Navigation -->
<!-- <mat-progress-bar mode="indeterminate" ></mat-progress-bar> -->
<div class="header-box">
    <div class="container">
        <div class="mobile-view">
            <!-- <mat-icon >menu</mat-icon> -->
        </div>
        <div class="logo">
            <a > <img
                    src="https://www.nicepng.com/png/full/247-2475175_ecommerce-e-commerce-website-logo.png"
                    width="80px" height="50px">
            </a>
        </div>
        <div class="menu">
            <ul class="list">
                <li class="contain" ><span>HOME</span></li>
                <li class="contain" ><span>PRODUCTS</span></li>
                <li class="contain" ><span>CONTACT US</span>
                </li>
                <li class="contain" >
                    <button class="btn btn-primary" >LOGIN</button>
                </li>
                <li class="contain profile dropdown" >
                    <img src="https://img1a.flixcart.com/www/linchpin/fk-cp-zion/img/profile-pic-male_2fd3e8.svg"
                        width="40px">
                    <div class="dropdown-content">
                        <a >My Profile</a>
                        <a>Orders</a>
                        <a>Wishlist</a>
                        <a>Notifications</a>
                        <a>Logout</a>
                    </div>
                </li>
               
            </ul>
        </div>
    </div>
</div>
<!-- <app-sidenav class="sidenavEnable"></app-sidenav> -->